<!DOCTYPE html>

<html>
  <head>
    <title>Create New Product</title>
    <link rel="stylesheet" href="/styles/sails.test.app.css"/>
  </head>
  <body>

    <div>

        <h3>
          Product list
        </h3>
        <ul>
        <% for(var i=0; i<productList.length; i++) {%>
	          <li><a href=/product/<%= productList[i].id %>><%= productList[i].name %></a></li>
        <% } %>
       </ul>

    </div>

  </body>
</html>
