extends layout

block content
  h1 
    img(src='http://getglimpse.com/content/glimpse100.png', style='vertical-align: middle;')
    | Glimpse Server
  p
    ul
      li: a(href='/glimpse/client/index.html?metadataUri=%2Fglimpse%2Fmetadata') Launch Client
      li: a(href='/glimpse/export-config') Download Configuration
